# NPM configuration (also used by Bun)

# Use Bun as the package manager
engine-strict=true

# Performance optimizations
fund=false
audit=false
save-exact=true
progress=false

# Set registry
registry=https://registry.npmjs.org/

# Workspace config
workspace-concurrency=4
